{% extends 'user_admin/admin_base.html' %}
{% block title %}Requisition | Transaction{% endblock %}
{% block transactions %} class="nav-link" {% endblock %}
{% block transaction_requests %}  class="active" {% endblock %}
{% block content %}
    <style>
        @media (width < 940px) {
             #req_view {
                display: flex !important;
                 flex-direction: column !important;
            }
            #req_view #cont {
                display: flex !important;
                flex-direction: column !important;
                 width: 100% !important;
            }
        }
    </style>
    {% include 'request/user_admin/request_info.html' %}
    <main id="main" class="main">

        <div class="page-title">
            <h3 style="font-weight: bold; margin-bottom: 0px !important; ">TRANSACTION</h3>
            <p style="margin-bottom: 20px !important; letter-spacing: 2px !important; font-size: 20px !important; color: var(--c1)">REQUEST</p>


            <div class="filter-and-search d-flex align-items-right justify-content-between mb-3">
            </div>
            <section class="">
                <div style="=">
                    <div class="card p-3" style="">
                        <div class="card-body pb-2">
                            <!-- Filter and Search at the top right -->
                            <div class="filter-and-search d-flex mb-3 pt-3 gap-3 justify-content-between" id="req_view" style="width: 100%">
                                <div class="" style="width: 100%">
                                    <input type="text" id="search_input" name="query" class="form-control"
                                           placeholder="Search by Name or ID"
                                         >
                                </div>

                                <div class="d-flex gap-2" style="width: 90%" id="cont">
                                    <div class=" mb-2" style="width: 100% ">
                                        <select class="form-select" id="request_type_filter">
                                            <option selected value="all">Type: All</option>
                                            <option value="Asset">Asset</option>
                                            <option value="Supply">Supply</option>
                                            <option value="Job Order">Job Order</option>
                                        </select>
                                    </div>

                                    <div class="mb-2" style="width: 100% ">
                                        <select class="form-select" id="request_status_filter">
                                            <option selected value="all">Status: All</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Cancelled">Cancelled</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Incomplete">Incomplete</option>
                                        <option value="Done">Done</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            {#Table Supplier #}
                            {% include "request/user_admin/request_table.html" %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#job_order_div').hide();
            $('#low_stock_div').hide();
            $('#requisition_table tbody').on('click', 'tr', function () {
                const pk = $(this).data('pk');
                window.location.href = '/transactions/request_item_end_point/' + pk + '/';
            });

            // Handle dropdown change events for both type and status filters
            // and input event for search
            $('#request_type_filter, #request_status_filter, #search_input').on('change input', function () {
            // Get the selected values for both filters
            var selectedType = $('#request_type_filter').val();
            var selectedStatus = $('#request_status_filter').val();

            console.log(selectedType, selectedStatus)
            // Get the search query
            var query = $('#search_input').val().toLowerCase();

            // Show/hide rows based on the selected type, status, and search query
            $('#requisition_table tbody tr').each(function () {
                var rowType = $(this).data('type');
                var rowStatus = $(this).data('status');
                var rowName = $(this).data('name').toLowerCase();
                var rowPk = $(this).data('pk').toString().toLowerCase();

                if ((selectedType === 'all' || rowType === selectedType) &&
                    (selectedStatus === 'all' || rowStatus === selectedStatus) &&
                    (rowName.includes(query) || rowPk.includes(query) || query === '')) {
                    $(this).show();

                } else {
                    $(this).hide();
                }
            });
        });

        });
    </script>
    <!-- End #main -->
{% endblock %}