<table class="table table-striped table-hover " id="requisition_table">
    <thead class="text-center">
    <tr>
        <th scope="col" class="text-center">Requestor</th>
        <th scope="col" class="text-center">Type</th>
        <th scope="col" class="text-center">Request Items</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center"></th>
    </tr>
    </thead>
    <tbody class="text-center">
    {% if requisitions %}
        {% for requisition in requisitions %}
            <tr data-pk="{{ requisition.req_id }}"
                data-status="{{ requisition.req_status }}" data-type="{{ requisition.req_type }}" data-name="{{ requisition.req_user }}">
                <th scope="row" class="text-center align-middle">{{ requisition.req_requestor }}</th>
                 <th scope="row" class="text-center align-middle">{{ requisition.req_type }}</th>
                 <td class="text-center align-middle">{{ requisition.req_item_count }}</td>

                <td class="text-center align-middle"><span
                        class="badge bg-success">{{ requisition.req_status }}</span>
                </td>
                <td class="text-center align-middle">
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="12" class="text-center">No Requisition Found</td>
        </tr>
    {% endif %}
    </tbody>
</table>