{% load widget_tweaks %}
            <div class="modal-header">
                <h5 class="modal-title" style="letter-spacing: 2px  !important">STAFF DETAILS</h5>
                <button type="button" class="btn btn-primary" style="font-weight: bold; letter-spacing: 1px; border: none; color: #ffffff;" id="purchaseBtn" onclick="enableForm()"> EDIT</button>
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
            </div>
            <div class="modal-body">
                <form class="edit_staff_modal row g-3" id="myForm" action="#" method="post" novalidate>
                    {% csrf_token %}
                    <div class="col-md-6">
                    <label for="inputName5" class="form-label">FIRST NAME</label>
                        {% render_field form.user_first_name class="form-control" placeholder="FIRST NAME" disabled="disabled" %}
                        <div class="{% if form.user_first_name.errors %} invalid{% endif %}">
                            {% for error in form.user_first_name.errors %}
                               <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName4" class="form-label">LAST NAME</label>
                        {% render_field form.user_last_name class="form-control" placeholder="LAST NAME" disabled="disabled" %}
                            <div class="{% if form.user_last_name.errors %} invalid{% endif %}">
                              {% for error in form.user_last_name.errors %}
                                 <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                              {% endfor %}
                            </div>
                    </div>
                    <div class="col-md-12">
                        <label for="inputName4" class="form-label">MIDDLE NAME</label>
                        {% render_field form.user_middle_name class="form-control" placeholder=user_account.user_middle_name disabled="disabled" %}
                            <div class="{% if form.user_middle_name.errors %} invalid{% endif %}">
                              {% for error in form.user_middle_name.errors %}
                                   <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                              {% endfor %}
                            </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName4" class="form-label">BIRTHDATE</label>
                            {% render_field form.user_birthdate class="form-control" placeholder="YYYY-MM-DD" disabled="disabled" %}
                            <div class="{% if form.user_birthdate.errors %} invalid{% endif %}">
                              {% for error in form.user_birthdate.errors %}
                                 <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                              {% endfor %}
                            </div>
                    </div>
                     <div class="col-md-6">
                        <label for="inputName4" class="form-label">CONTACT NO.</label>
                        {% render_field form.user_contact_number class="form-control" placeholder="+63XXXXXXXXXX" disabled="disabled" %}
                            <div class="{% if form.user_contact_number.errors %} invalid{% endif %}">
                              {% for error in form.user_contact_number.errors %}
                                  <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                              {% endfor %}
                            </div>
                    </div>
                    <div class="col-md-12">
                        <label for="inputName4" class="form-label">ADDRESS</label>
                        {% render_field form.user_address class="form-control" placeholder=user_account.user_address disabled="disabled" %}
                            <div class="{% if form.user_address.errors %} invalid{% endif %}">
                              {% for error in form.user_address.errors %}
                                  <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                              {% endfor %}
                            </div>
                    </div>

                    <div class="col-md-12">
                        <label for="inputName4" class="form-label">EMAIL ADDRESS</label>
                        {% render_field form.user_email class="form-control" placeholder="user@gmail.com" disabled="disabled" %}
                            <div class="{% if form.user_email.errors %} invalid{% endif %}">
                              {% for error in form.user_email.errors %}
                                  <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                              {% endfor %}
                            </div>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <label class="form-label" style="color: var(--c1); font-weight: bold;">DATE ADDED</label>
                            <label class="form-label" style="display: block; margin-bottom: 8px;">{{ user_account.user_date_added }}</label>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" style="color: var(--c1); font-weight: bold;">DATE MODIFIED</label>
                            <label class="form-label" style="display: block; margin-bottom: 8px;">{{ user_account.user_date_modified }}</label>
                        </div>
                    </div>

                    <div class="modal-footer justify-content-end">
                        <button type="button" class="btn btn-danger me-auto" data-bs-dismiss="modal" style="font-weight: bold; letter-spacing: 1px; border: none; width: 100px">CLOSE</button>
                        <button type="submit" class="btn btn-success invisible" id="saveBtn" style="font-weight: bold; letter-spacing: 1px; border: none; width: 160px">SAVE CHANGES</button>
                    </div>
                </form><!-- End Multi Columns Form -->

            </div>
    <script>
        function enableForm() {
            // Get all elements with the class "form-control" inside the form with the id "myForm"
            const formControls = document.querySelectorAll('#myForm .form-control');

            // Loop through each element and remove the "disabled" attribute
            formControls.forEach(function (element) {
                element.removeAttribute('disabled');
            });

            // Make the "Save Changes" button visible
            const saveChangesButton = document.querySelector('#saveBtn');
            saveChangesButton.classList.remove('invisible');
        }
    </script>