{% extends 'user_staff/staff_base.html' %}
{% load static %}

{# Requisition Title #}
{% block title %} Delivery | AquaMelya {% endblock title %}

{# Requisition Active #}
{% block delivery %}
    <a class="nav-link" href=""/>
{% endblock delivery %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    {% include 'acknowledgement/staff_delivery_modal.html' %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>DELIVERY</h1>
        </div>
        <section>
            <div class="col-lg-12" id="delivery">
                <div class="card" id="right_section">
                    <div class="card-body" id="right_body">
                        <!-- DISPLAY REQUISITION -->
                        <table class="table table-striped table-hover" id="delivery-table">
                            <thead class="text-center">
                            <tr>
                                <th scope="col" class="text-center">Item</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-center">Supplier</th>
                                <th scope="col" class="text-center">Receiver</th>
                                <th scope="col" class="text-center">Status</th>

                            </tr>
                            </thead>
                            <tbody class="text-center">
                            {% if delivery %}
                                {% for delivery in delivery %}
                                    <tr data-pk="{{ delivery.pk }}" data-name="{{ delivery.purch.req.req_description }}"
                                        data-status="{{ delivery.delivery_status }}">
                                        <th class="text-center align-middle">{{ delivery.purch.purch_item_name }}</th>
                                        <td class="text-center align-middle">{{ delivery.purch.purch_qty }}</td>
                                        <td class="text-center align-middle">{{ delivery.purch.supplier }}</td>
                                        <td class="text-center align-middle">{{ delivery.order_receive_by }}</td>
                                        <td class="text-center align-middle">
                                            {% if delivery.delivery_status == 1 %}
                                                <span class="badge bg-warning">In Process</span>
                                            {% else %}
                                                <span class="badge bg-success">Order Received</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center align-middle" colspan="10">No Supplies Found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.0/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
        // Fetching data for modal
        function fetchDataAndUpdateModalDelivery(pk) {
            $.ajax({
                url: `/transactions/get_delivery_data/${pk}/`,
                method: 'GET',
                success: function (data) {
                    var delivery = data.delivery_json;
                    var purchase_order = data.purchase_order_data;
                    $('#delivery_id').val(data.delivery_id);
                    $('#delivery_purchase_date').text(purchase_order.purch_date);
                    $('#delivery_purchase_date_lastmod').text(data.formatted_date);
                    $('#delivery_status_select').val(delivery.delivery_status);
                    if (delivery.order_receive_date) {
                        // If the date is defined, display it
                        $('#delivery_received_date').text(data.date_received);
                    } else {
                        // If the date is undefined (none), display a "none" message
                        $('#delivery_received_date').text('Not yet received');
                    }

                    if (delivery.delivery_status === 2) {
                        $('#delivery_status_select').prop('disabled', true);
                        $('.btn').prop('disabled', true);
                    } else {
                        $('#delivery_status_select').prop('disabled', false);
                        $('.btn').prop('disabled', false);
                    }

                    $('#deliveryModal').modal('show');
                },
                error: function () {
                    console.error('Error fetching data');
                }
            });
        }

        // Updating the data from the modal
        function updateData(delivery_id) {
            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            var postData = {
                delivery_status: $('#delivery_status_select').val(),
            };

            $.ajax({
                url: `/transactions/post_delivery_data/${delivery_id}/`,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf_token
                },
                data: postData,
                success: function (response) {
                    if (response.status === 'success') {
                        window.location.reload();
                    } else {
                        window.location.reload();
                    }
                },
            });
        }

        // for modal event
        $(document).ready(function () {
            $('#deliveryModal').on('submit', function (e) {
                e.preventDefault();
                const delivery_id = $('#delivery_id').val();
                updateData(delivery_id);
            });
            $('#delivery-table tbody').on('click', 'tr', function () {
                const pk = $(this).data('pk');
                console.log(pk)
                fetchDataAndUpdateModalDelivery(pk);
            });

        });
    </script>
{% endblock content %}