<div class="modal fade" id="deliveryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-3"><span id="request_description"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: none;overflow-y: auto;">
                <form class="row g-3" id="delivery_id" data-type="" method="post">
                    {% csrf_token %}

                    <div class="col-md-12 mb-2 ml-auto mt-2">
                        <br>
                        <select class="form-select" id="delivery_status_select">
                            <option selected>Status</option>
                            <option value="In Process">In Process</option>
                            <option value="Delivered">Delivered</option>
                            <option value="Undelivered">Undelivered</option>
                        </select>
                    </div>

                    <div class="modal-footer justify-content-end"
                         style="position: sticky;bottom: 0;background-color: #fff;z-index: 1;">
                        <button type="button" class="btn btn-success" onclick="updateData()" style="padding: 10px; width: 100%; letter-spacing: 1px; font-weight: bold; border: none;">SAVE CHANGES</button>
                    </div>
                </form>
                <!-- End Multi Columns Form -->
            </div>
        </div>
    </div>
</div>