<div class="modal fade" id="deliveryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-3"><span id="request_description"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: none;overflow-y: auto;">
                <form class="row g-3" id="delivery_id" method="post">
                    {% csrf_token %}
                    <div class="col-md-4 mt-4">
                        <label class="form-label text-left" style="color:var(--c1); font-weight: bolder">Date Purchase</label>
                        <br>
                        <label class="form-label text-center" id="delivery_purchase_date"></label>
                    </div>
                    <div class="col-md-4 mt-4">
                        <label class="form-label text-left" style="color:var(--c1); font-weight: bolder">Last Modified</label>
                        <br>
                        <label class="form-label text-center" id="delivery_purchase_date_lastmod"></label>
                    </div>
                    <div class="col-md-4 mt-4">
                        <label class="form-label text-left" style="color:var(--c1); font-weight: bolder">Received Date</label>
                        <br>
                        <label class="form-label text-center" id="delivery_received_date"></label>

                    </div>

                    <div class="col-md-12 mb-2 ml-auto mt-2">
                        <br>
                        <select class="form-select" id="delivery_status_select">
                            <option selected>Status</option>
                            <option value="1">In Process</option>
                            <option value="2">Order Received</option>
                        </select>
                    </div>

                    <div class="modal-footer justify-content-end"
                         style="position: sticky;bottom: 0;background-color: #fff;z-index: 1;">
                        <button type="submit" class="btn btn-primary" style="background-color: #42cf79; border: none;">SAVE CHANGES</button>
                    </div>
                </form>
                <!-- End Multi Columns Form -->
            </div>
        </div>
    </div>
</div>