{% extends 'user_staff/staff_base.html' %}
{% load static %}

{# Requisition Title #}
{% block title %} Delivery | AquaMelya {% endblock title %}

{# Requisition Active #}
{% block delivery %}
    <a class="nav-link" href=""/>
{% endblock delivery %}
{% block content %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.jqueryui.min.css">
    {% include 'acknowledgement/staff_delivery_modal.html' %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1 style="margin-bottom: 5px">DELIVERY</h1>
            <p style="margin-bottom: 30px; font-size: 14px; letter-spacing: 2px; color: var(--c1)">CHECK DELIVERIES TO BE RECEIVED</p>
            <h1>DELIVERY</h1>
        </div>
        <div class="filter-and-search d-flex align-items-right  mb-3">
            <div class="col-md-4 mb-2">
                <select class="form-select" id="status_filter">
                    <option selected value="all">Delivery Status: All</option>
                    <option value="1">In Process</option>
                    <option value="2">Order Received</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" name="query" class="form-control" id="delivery_search"
                       placeholder="Search Item"
                       title="Enter search keyword">
            </div>

        </div>
        <section>
            <div class="col-lg-12" id="delivery">
                <div class="card" id="right_section">
                    <div class="card-body" id="right_body">
                        <!-- DISPLAY REQUISITION -->
                       <table class="table table-hover " id="delivery-table">
                            <thead class="text-center">
                            <tr>
                                <th scope="col" class="text-center text-uppercase">Description</th>
                                <th scope="col" class="remove_tbl text-center text-uppercase">Requestor</th>
                                <th scope="col" class="remove_tbl text-center text-uppercase">Date Ordered</th>
                                <th scope="col" class="remove_tbl text-center text-uppercase"></th>
                                <th scope="col" class="text-center text-uppercase">Status</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            {% if delivery %}
                                {% for delivery in delivery %}
                                    <tr data-pk="{{ delivery.pk }}" data-name="{{ delivery.purch.req.req_description }}"
                                        data-status="{{ delivery.delivery_status }}">
                                        <th class="text-center align-middle">{{ delivery.purch.req.req_description}}</th>
                                        <td class="remove_tbl text-center align-middle">{{ delivery.purch.req.user }}</td>
                                        <td class="remove_tbl text-center align-middle">{{ delivery.purch.purch_date_modified}}</td>
                                        <td class="remove_tbl text-center align-middle"></td>
                                        <td class="text-center align-middle">
                                            {% if delivery.delivery_status == 1 %}
                                                <span class="badge bg-secondary" style="padding: 10px; width: 90px;">PROCESSING</span>
                                            {% else %}
                                                <span class="badge bg-success">Order Received</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center align-middle" colspan="10">No Delivery Found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.0/tinymce.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
        new DataTable('#delivery-table', {
            info: false,
            ordering: false,
            lengthMenu: [[5], [5]],
        $(document).ready(function () {

            $('#delivery-table tbody').on('click', 'tr', function () {
                var pk = $(this).data('pk');
                window.location.href = `/transactions/delivery_items/${pk}/`;
            });
            // Handle dropdown change event
            $('#status_filter, #delivery_search').on('change input', function () {
                var selectedStatus = $('#status_filter').val();
                var delivery_search = $('#delivery_search').val();
                console.log(selectedStatus);
                console.log(delivery_search)
                // Show or hide rows based on selected status
                $('#delivery-table tbody tr').each(function () {
                    var rowStatus = $(this).data('status');
                    var rowName = $(this).data('pk').toString().toLowerCase();
                    if ((selectedStatus === 'all' || rowStatus.toString() === selectedStatus) &&
                        (rowName.includes(delivery_search) || delivery_search === '')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>

{#    <script>#}
{#        // Fetching data for modal#}
{#        function fetchDataAndUpdateModalDelivery(pk) {#}
{#            $.ajax({#}
{#                url: `/transactions/get_delivery_data/${pk}/`,#}
{#                method: 'GET',#}
{#                success: function (data) {#}
{#                    var delivery = data.delivery_json;#}
{#                    var purchase_order = data.purchase_order_data;#}
{#                    $('#delivery_id').val(data.delivery_id);#}
{#                    $('#delivery_purchase_date').text(purchase_order.purch_date);#}
{#                    $('#delivery_purchase_date_lastmod').text(data.formatted_date);#}
{#                    $('#delivery_status_select').val(delivery.delivery_status);#}
{#                    if (delivery.order_receive_date) {#}
{#                        // If the date is defined, display it#}
{#                        $('#delivery_received_date').text(data.date_received);#}
{#                    } else {#}
{#                        // If the date is undefined (none), display a "none" message#}
{#                        $('#delivery_received_date').text('Not yet received');#}
{#                    }#}
{##}
{#                    if (delivery.delivery_status === 2) {#}
{#                        $('#delivery_status_select').prop('disabled', true);#}
{#                        $('.btn').prop('disabled', true);#}
{#                    } else {#}
{#                        $('#delivery_status_select').prop('disabled', false);#}
{#                        $('.btn').prop('disabled', false);#}
{#                    }#}
{##}
{#                    $('#deliveryModal').modal('show');#}
{#                },#}
{#                error: function () {#}
{#                    console.error('Error fetching data');#}
{#                }#}
{#            });#}
{#        }#}
{##}
{#        // Updating the data from the modal#}
{#        function updateData(delivery_id) {#}
{#            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();#}
{#            var postData = {#}
{#                delivery_status: $('#delivery_status_select').val(),#}
{#            };#}
{##}
{#            $.ajax({#}
{#                url: `/transactions/post_delivery_data/${delivery_id}/`,#}
{#                method: 'POST',#}
{#                headers: {#}
{#                    'X-CSRFToken': csrf_token#}
{#                },#}
{#                data: postData,#}
{#                success: function (response) {#}
{#                    if (response.status === 'success') {#}
{#                        window.location.reload();#}
{#                    } else {#}
{#                        window.location.reload();#}
{#                    }#}
{#                },#}
{#            });#}
{#        }#}
{##}
{#        // for modal event#}
{#        $(document).ready(function () {#}
{#            $('#deliveryModal').on('submit', function (e) {#}
{#                e.preventDefault();#}
{#                const delivery_id = $('#delivery_id').val();#}
{#                updateData(delivery_id);#}
{#            });#}
{#            $('#delivery-table tbody').on('click', 'tr', function () {#}
{#                const pk = $(this).data('pk');#}
{#                console.log(pk)#}
{#                fetchDataAndUpdateModalDelivery(pk);#}
{#            });#}
{##}
{#        });#}
{#    </script>#}
{% endblock content %}