<table class="table table-hover" id="staff_requisition_table">
    <thead class="text-center">
    <tr>
        <th scope="col" class="text-center text-uppercase">Type</th>
        <th scope="col" class="remove_tbl text-center text-uppercase">Date</th>
        <th scope="col" class="text-center text-uppercase">Status</th>
    </tr>
    </thead>
    <tbody class="text-center">
    {% if requisitions %}
        {% for requisition in requisitions %}
            <tr data-pk="{{ requisition.req_id }}" data-type="{{ requisition.req_type }}" data-status="{{ requisition.req_status }}">
                <th class="text-center align-middle" style="color: var(--c1); font-weight: normal !important; text-transform: uppercase">{{ requisition.req_type }}</th>
                <td class="remove_tbl text-center align-middle">{{ requisition.date_added }}</td>
                <td class="text-center align-middle">

                    {% if requisition.req_status|lower == 'pending' %}
                        <span class="badge bg-primary" style="padding: 10px; text-transform: uppercase; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ requisition.req_status }}</span>
                    {% elif requisition.req_status|lower == 'cancelled' %}
                        <span class="badge bg-danger text-uppercase" style=" padding: 10px; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ requisition.req_status }}</span>
                    {% elif requisition.req_status|lower == 'completed' %}
                        <span class="badge bg-success-light text-uppercase" style="color: black; padding: 10px; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ requisition.req_status }}</span>
                    {% elif requisition.req_status|lower == 'incomplete' %}
                        <span class="badge bg-warning-light" style="padding: 10px; text-transform: uppercase; color: black !important; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ requisition.req_status }}</span>
                      {% elif requisition.req_status|lower == 'done' %}
                        <span class="badge bg-success" style="padding: 10px; text-transform: uppercase; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ requisition.req_status }}</span>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5" class="empty_tbl text-center">No Requisition Found</td>
        </tr>
    {% endif %}
    </tbody>
</table>
