{% extends 'user_staff/staff_base.html' %}
{% load static %}

{# Requisition Title #}
{% block title %} Requisition | {{ req_id }} {% endblock title %}


{% block asset %} class="active" {% endblock %}
{# Content #}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">

    {% include 'request/user_staff/staff_request_modal.html' %}
    {% include 'request/user_staff/confirm_cancel.html' %}
    {% include 'request/user_staff/item_received_modal.html' %}
    <main id="main" class="main">
        <div>
            <h1 class="" style="margin-bottom: 30px; font-size: 35px; color: var(--c2); text-transform: uppercase; letter-spacing: 2px ">{{ requisition_data.req_description }}</h1>
            <p class=""style="margin-bottom: 0; font-size: 16px; letter-spacing: 2px; color: var(--c1)"></p>
        </div>
        <section class="section dashboard d-flex justify-content-between gap-3" id="overview">
            <div style="width: 60%" id="over_cont">
                <div class="card" id="req_over" style="padding-bottom: 27px; width: 100% !important">
                    <div class="card-body p-4 pb-0">
                        <h2 class="card-title" style="letter-spacing: 2px; margin-bottom: 10px; padding-bottom: 0; padding-top: 0 !important"><i class="bi bi-envelope-paper" style="margin-right: 10px !important;"></i>
                            OVERVIEW
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="section dashboard">
            <div style="display: block;">
                <div class="card" style="padding-bottom: 27px;">
                    <div class="card-body">
                        <h2 class="card-title" style="float: left;"><i class="bi bi-envelope-paper"></i> &nbsp;{{ requisition_data.req_description }} ({{ requisition_data.req_id }})
                        </h2>
                        <div style="width: 100%; margin: auto; height: 1px; background-color: var(--c1); margin-bottom: 20px"></div>
                    </div>



                    <div class=" card-body" style="padding-top: 0 !important; width: 100% !important">
                        <div class="row">
                            <div class="col-md-12" style="width: 100%; margin-left: 5px">
                                <p class="card-texte" style=""><b>Request Type:
                                </b> {{ requisition_data.req_type }}</p>
                                <p class="card-text " style=""><b>Request Status:</b>
                                    {% if requisition_data.req_status|lower == 'pending' %}
                                        <span class="badge bg-warning text-uppercase" style="padding: 8px; width: 90px">{{ requisition_data.req_status }}</span>
                                    {% elif requisition_data.req_status|lower == 'incomplete' %}
                                        <span class="badge bg-primary text-uppercase" style="padding: 8px; width: 90px">{{ requisition_data.req_status }}</span>
                                    {% elif requisition_data.req_status|lower == 'cancelled' %}
                                        <span class="badge bg-danger text-uppercase" style="padding: 8px; width: 90px">{{ requisition_data.req_status }}</span>
                                    {% elif requisition_data.req_status|lower == 'completed' %}
                                        <span class="badge bg-success text-uppercase" style="padding: 8px; width: 90px">{{ requisition_data.req_status }}</span>
                                    {% endif %}</p>
                                <p class="card-text " style=""><b>Request Date:</b>
                                    {{ requisition_data.req_date_requested }}</p>

                                {% if requisition_data.requestor_notes and  requisition_data.req_type != 'Job Order' %}
                                    <p class="card-text " style=""><b>Request Notes:</b>
                                        {{ requisition_data.requestor_notes }}
                                    </p>
                                {% else %}
                                    {% if  requisition_data.req_type == 'Job Order' %}
                                        {% for items in req_items %}
                                            <p class="card-text text-uppercase" style=""><b>Request Notes:</b>
                                                {{ items.job_notes }}
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        <p class="card-text"><b>Request Notes:</b>
                                            No request notes available</p>
                                    {% endif %}

                                {% endif %}

                                {% if requisition_data.req_reviewer_notes %}
                                    <p class="card-text"><b>Reviewer
                                        Notes:</b>
                                        {{ requisition_data.req_reviewer_notes }}
                                    </p>
                                {% else %}
                                    <p class="card-text"><b>Reviewer Notes:</b>
                                        No reviewer notes available</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="px-3">
                   <div class="d-flex justify-content-end mt-3 mr-5">
                        {% if requisition_data.req_status|lower == 'pending' %}
                            <button class="cancel-request btn btn-warning mr-2" onclick="cancelRequestModal()">
                                Cancel Request
                            </button>
                        {% elif requisition_data.req_status|lower == 'completed' %}
                            <button class="btn btn-success" onclick="itemsReceived()">
                                Acknowledge Items
                            </button>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="card p-4" id="req_over" style="width: 100%">
                {% include 'request/user_staff/staff_request_table_view.html' %}
            </div>
        </div>

        </section>
    </main>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.0/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
        // fetch data and populate modal of STAFF REQUISITION
        function fetchDataAndModal(pk) {
            $.ajax({
                url: `/transactions/get_data_staff/${pk}/`,
                method: 'GET',
                success: function (data) {
                    console.log(data);
                    $('#req_id').val(data.req_id);
                    $('#req_type').val(data.req_type);
                    $('#request_description').text(data.req_requestor);
                    $('#req_date_last_mod').text(data.req_date_last_mod);
                    $('#req_date_requested').text(data.req_date_requested);
                    $('#req_notes').text(data.req_notes);
                    $('#req_reviewer_notes').text(data.req_reviewer_notes);

                    // Disable input fields if req_status is not 'Pending'
                    if (data.req_status !== 'Pending') {
                        $('input, textarea, select').prop('disabled', true);
                        $('.req_submit_bttn.btn').prop('disabled', true);

                    } else {
                        $('input, textarea, select').prop('disabled', false);
                        $('.req_submit_bttn.btn').prop('disabled', false);
                    }


                    // Populate options from the JSON response
                    var dropdown = $('#status_select');
                    dropdown.empty();
                    data.req_status_list.forEach(function (status) {
                        var option = $('<option>', {
                            value: status.id,
                            text: status.name
                        });

                        // Check if the status ID matches the current req_status
                        if (status.name === data.req_status) {
                            option.attr('selected', 'selected');
                        }

                        dropdown.append(option);
                    });

                    if (data.req_type === 'Job Order') {
                        $('#job_order_start').val(data.job_start_date);
                        $('#job_order_end').val(data.job_end_date);
                        $('#worker_count').val(data.worker_count);
                        $('#job_order_div').show();
                    } else {
                        // Optionally, you can hide the div if req_type is not 'Job Order'
                        $('#job_order_div').hide();
                    }
                    $('#myModal').modal('show');
                },
                error: function () {
                    console.error('Error fetching data');
                }
            });
        }

        // update staff requisition data
        function updateData(req_id) {
            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            var postData = {
                'req_type': $('#req_type').val(),
                'req_notes': $('#req_notes').val()
            };
            $.ajax({
                url: `/transactions/post_data_staff/${req_id}/`,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf_token
                },
                data: postData,
                success: function (response) {
                    if (response.status === 'success') {
                        console.log(postData)
                        console.log(response.status);
                        window.location.reload();
                    } else {
                        console.error('Error updating data');
                        window.location.reload();
                    }
                },
            });
        }

        // cancel get request function
        function cancelRequestModal() {
            $('#confirmationModal').modal('show');
        }

        // for post cancel request
        function cancelRequestPost(req_id) {
            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url: `/transactions/cancel_request/${req_id}/`,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf_token
                },
                success: function (data) {
                    if (data.status === 'success') {
                        console.log(data.status);
                        window.location.reload();
                    } else {
                        console.log('Error updating data');
                        window.location.reload();
                    }
                },
                error: function (data) {
                    console.log('Error canceling request:', data);
                }
            });

        }

        function itemsReceived() {
            $('#receivedModal').modal('show');
        }

        function itemsReceivedPost(req_id) {
            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            var postData = {
                'req_id': req_id,
                'received_date': $('#receivedDate').val(),
                'addition_notes': $('#additionalNotes').val(),
                'acknowledged_by': $('#acknowledgedBy').val()
            };
            $.ajax({
                url: `/transactions/items_received/`,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf_token
                },
                data: postData,
                success: function (data) {
                    if (data.status === 'success') {
                        console.log(data.status);
                    } else {
                        console.log('Error updating data');
                    }
                },
                error: function (data) {
                    console.log('Error canceling request:', data);
                }
            });

        }

        // Datatables initialization
        $(document).ready(function () {
            $('#staff_requisition_table tbody').on('click', 'tr', function () {
                const pk = $(this).data('pk');
                // go to a url
                window.location.href = `/transactions/staff_request_info/${pk}/`;
            });

            $('#req_id').on('submit', function (e) {
                e.preventDefault();
                const req_id = $('#req_id').val();
                updateData(req_id);
            });

            $('.cancel-request').on('click', function () {
                var reqId = $(this).data('pk');
                $('#req_id').val(reqId);
                console.log(reqId);

            });

            $('#confirm-cancel-btn').on('click', function () {
                var reqId = $(req_id).val();
                console.log(reqId);
                const pk_id = parseInt(reqId);
                cancelRequestPost(pk_id);
            });


        });


        // Prevent preventing on opening the modal on a CANCEL REQUEST BUTTON
        $('#staff_requisition_table .btn').click(function (e) {
            e.stopPropagation();
        });

        $('.cancel_btn').click(function (e) {
            e.stopPropagation();
        });

    </script>
{% endblock content %}

