{% if requisition_data.req_type == "Supply" or requisition_data.req_type == "Asset" %}
    <table class="table table-hover">
        <thead class="text-center">
        <tr>
            <th scope="col" class="text-center text-uppercase">Request Item</th>
            <th scope="col" class="remove_tbl text-center text-uppercase">Quantity</th>
            <th scope="col" class="text-center text-uppercase">Status</th>
            <th scope="col" class="text-center text-uppercase"></th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% if req_items %}
            {% for item in req_items %}
                <tr>
                    <th class="text-center" style="color: var(--c1); font-weight: normal !important">{{ item.description }}</th>
                    <td class="remove_tbl text-center">{{ item.quantity }}</td>
                    <td class="text-center">
                        <span class="badge bg-success text-uppercase" style="padding: 10px; width: 90px; font-size: 12px; letter-spacing: 1px; font-weight: lighter">{{ item.req_status }}</span>
                    </td>
                    <td class="text-center"></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No Request Item Found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% elif requisition_data.req_type == "Job Order" %}
    <table class="table">
        <thead class="text-center">
        <tr>
            <th scope="col" class="text-center text-uppercase">Job Description</th>
            <th scope="col" class="text-center text-uppercase">Status</th>
            <th scope="col" class="text-center"></th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% if req_items %}
            {% for item in req_items %}
                <tr>
                    <th class="text-center" style="font-weight: normal !important; color: var(--c1) !important">{{ item.description }}</th>
                    <td class="text-center">
                        <span class="badge bg-success text-uppercase" style="padding: 10px; width: 90px; font-size: 12px; letter-spacing: 1px; font-weight: lighter">{{ item.req_status }}</span>
                    </td>
                    <td class="text-center"></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No Request Item Found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endif %}
