<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.jqueryui.min.css">

<style>
    .dataTables_length {
        display: none !important;
    }

    .dataTables_filter {
        display: none !important;
    }

    #asset-table_paginate {
        margin-top: 20px !important;
        margin-bottom: 10px !important;
        padding-top: 10px !important;
        border-top: 1px solid var(--c1) !important;
    }

    .table  {
        border-bottom: none !important;
}
    table tbody tr:hover {
    background-color: var(--c3);
    /*transition: .3s ease-in-out;*/
}
</style>

<table class="table table-hover" id="asset-table">
    <thead class="text-center">
    <tr>
        <th scope="col" class="text-center">ASSET</th>
        <th scope="col" class="manufacturer_col text-center">MANUFACTURER</th>
        <th scope="col" class="model_col text-center">MODEL</th>
        <th scope="col" class="on_col text-center">ON HAND</th>
        <th scope="col" class="text-center"></th>
        <!-- <th class="text-center" scope="col"></th> -->
    </tr>
    </thead>
    <tbody class="text-center">
    {% if asset %}
        {% for assets in asset %}
            <tr class="asset-update" data-form-url="{% url 'update_asset_info' assets.pk %}"
                data-type="{{ assets.asset_type }}" data-name="{{ assets.asset_description }}">
                <th class="text-center align-middle">{{ assets.asset_description }}</th>
                <td class="manufacturer_row text-center align-middle">{{ assets.asset_manufacturer }}</td>
                <td class="model_row text-center align-middle">{{ assets.asset_model }}</td>
                <td class="on_row text-center align-middle">{{ assets.asset_on_hand }} {{ assets.asset_unit }}</td>
                <td class="text-center align-middle">
                    <button style="background-color: transparent; border-color: transparent;" type="button"
                            class="btn btn-primary md-2" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="bi bi-three-dots" style="color: black;"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="asset-delete dropdown-item" data-form-url="{% url 'delete_asset' assets.pk %}">Delete
                            Asset</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <td class="text-center align-middle" colspan="12">No assets found.</td>
    {% endif %}
    </tbody>
</table>

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<script>
    new DataTable('#asset-table', {
        info: false,
        ordering: false,
        lengthMenu: [[5], [5]],
    });
</script>



