{% load widget_tweaks %}

<div class="modal-header">
    <h3 class="modal-title" style="font-weight: bold; font-size: 20px; letter-spacing: 1px">ASSET DETAILS</h3>
    <button type="button" class="btn btn-primary ml-auto"
            style="color: white; border: none; font-weight: bold;"
            id="purchaseBtn" onclick="enableForm()"><i class="bi bi-pencil-square"></i>
    </button>
    {#    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
</div>
<div class="modal-body">
    <form id="myForm" class="update_asset row g-3" method="POST" novalidate>
        {% csrf_token %}

        <div class="row  justify-content-center mt-3">
            <div class="col-md-4 text-center">
                <label class="form-label" style="color: var(--c1);">Date Added</label>
                <label class="form-label"
                       style="display: block; margin-bottom: 8px;">{{ assets.asset_date_added }}</label>
            </div>
            <div class="col-md-4 text-center">
                <label class="form-label" style="color: var(--c1);">Purchase Date</label>
                <label class="form-label" style="display: block; margin-bottom: 8px;">{{ assets.purchase_date }}</label>
            </div>
            <div class="col-md-4 text-center">
                <label class="form-label" style="color: var(--c1);">Date Modified</label>
                <label class="form-label"
                       style="display: block; margin-bottom: 8px;">{{ assets.asset_date_modified }}</label>
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label">Description</label>
            {% render_field form.asset_description class="form-control" placeholder=""% disabled="disabled" %}
            <div class="{% if form.asset_description.errors %} invalid{% endif %}">
                {% for error in form.asset_description.errors %}
                    <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label">Condition</label>
            {% render_field form.asset_condition class="form-control" placeholder=""% disabled="disabled" %}
            <div class="{% if form.asset_condition.errors %} invalid{% endif %}">
                {% for error in form.asset_condition.errors %}
                    <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label">Brand</label>
            {% render_field form.asset_manufacturer class="form-control" placeholder=""% disabled="disabled" %}
            <div class="{% if form.asset_manufacturer.errors %} invalid{% endif %}">
                {% for error in form.asset_manufacturer.errors %}
                    <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label">Model</label>
            {% render_field form.asset_model class="form-control" placeholder=""% disabled="disabled" %}
            <div class="{% if form.asset_model.errors %} invalid{% endif %}">
                {% for error in form.asset_model.errors %}
                    <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label">Type</label>
            {% render_field form.asset_type class="form-control" placeholder=""% disabled="disabled" %}
            <div class="{% if form.asset_type.errors %} invalid{% endif %}">
                {% for error in form.asset_type.errors %}
                    <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12">
            <label for="inputName4" class="form-label">Supplier</label>
            {% render_field form.asset_supplier class="form-control" placeholder="" disabled="disabled" %}
            <div class="{% if form.asset_supplier.errors %}invalid{% endif %}">
                {% for error in form.asset_supplier.errors %}
                    <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label">Notes</label>
            {% render_field form.notes class="form-control" placeholder="" disabled="disabled" %}
            <div class="{% if form.notes.errors %}invalid{% endif %}">
                {% for error in form.notes.errors %}
                    <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div>
        </div>

        <div class="modal-footer justify-content-end pt-3" style="margin: 0">
            <button type="submit" class="btn btn-success d-none mx-0" id="saveBtn"
                    style="padding: 10px; width: 100%; border: none; font-weight: bold; letter-spacing: 1px">SAVE
                CHANGES
            </button>
            <button type="button" class="btn btn-danger me-auto mx-0" data-bs-dismiss="modal"
                    style="padding: 10px; width: 100%; font-weight: bold; letter-spacing: 1px; border: none">CLOSE
            </button>

        </div>
    </form>
</div>

<script>
    function enableForm() {
        // Get all elements with the class "form-control" inside the form with the id "myForm"
        var formControls = document.querySelectorAll('#myForm .form-control');

        // Loop through each element and remove the "disabled" attribute
        formControls.forEach(function (element) {
            element.removeAttribute('disabled');
        });

        // Make the "Save Changes" button visible
        var saveChangesButton = document.querySelector('#saveBtn');

        saveChangesButton.classList.remove('d-none');
    }

</script>