{% extends 'user_admin/admin_base.html' %}
{% load static %}

{# Requisition Title #}
{% block title %} Delivery | AquaMelya {% endblock title %}

{% block transactions %}
    class="nav-link"
{% endblock %}
{% block transaction_delivery %} class="active" {% endblock %}
{# Content #}
{% block content %}

    <style>
    @media (width < 940px) {
  table .remove_tbl {
    display: none !important;
  }
}
    </style>

<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    {% include 'delivery/user_admin/update_info.html' %}
<main id="main" class="main">
    <div class="card" style="max-height: none; overflow-y: auto;">
        {% csrf_token %}
        <div class="card-body p-4">
            <h1 class="" style="margin-bottom: 0px; font-size: 35px; color: var(--c2); text-transform: uppercase; letter-spacing: 2px ">{{ delivery.delivery_id }}</h1>
            <h2 class="card-title" style=" padding: 0; margin-top: 5px; letter-spacing: 1px"><i class="bi bi-truck"></i> &nbsp;DELIVERY</h2>
            <br>
            <div class="row mt-1">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label fw-bold">Purchase Date</label>
                        <br>
                        <label class="form-label " id="req_date_requested">{{ delivery.purchase_date }}</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label fw-bold">Order Received Date</label>
                        <br>
                        <label class="form-label" id="req_date_last_mod" >
                            {% if delivery.order_receive_date == None %}
                                <span class="text-danger">Not yet received</span>
                            {% else %}
                            {{ delivery.order_receive_date }}
                            {% endif %}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label fw-bold">Item Type</label>
                        <br>
                        <label class="form-label" id="item_type">{{ delivery.item_type }}</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label fw-bold">Supplier</label>
                        <br>
                        <label class="form-label" id="supplier">{{ delivery.supplier }}</label>
                    </div>
                </div>
            </div>
            <br>
            <br>

           {% if delivery.user_type == 1 %}
            <div>
                <button type="button" class="btn btn-primary border-0 p-3" style="width: 100%; font-size: 16px; font-weight: bolder; letter-spacing: 1px" onclick="wareHousing({{ delivery.delivery_id }}, '{{ delivery.item_type }}')">
                    WAREHOUSING
                </button>

            </div>
            {% endif %}
        </div>
    </div>

    <div class="card" style="padding-bottom: 27px;">
        <div class="card-body p-4">
            <h2 class="card-title" style="padding-top: 10px; letter-spacing: 1px"><i class="bi bi-truck"></i> &nbsp;OVERVIEW</h2>
         <table class="table tab" id="requisition_table">
            <thead class="text-center">
                <tr>
                    <th scope="col" class="text-center text-uppercase">Item name</th>
                    <th scope="col" class="remove_tbl text-center text-uppercase">Order Quantity</th>
                    <th scope="col" class="remove_tbl text-center text-uppercase">Order Unit</th>
                    <th scope="col" class="remove_tbl text-center text-uppercase">Receiver</th>
                    <th scope="col" class="text-center text-uppercase">Status</th>
                    <th scope="col" class="text-center text-uppercase"></th>
                    <th scope="col" class="text-center text-uppercase">Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
               {% if delivery_items %}
                    {% for item in delivery_items %}
                        <tr data-itemid="{{ item.del_item_id }}">
                            <th class="text-center align-middle">
                                {% if delivery.item_type == "Supply" %}
                                    {{ item.req_supply.supply.supply_description }}
                                {% elif delivery.item_type == "Asset" %}
                                    {{ item.req_asset.asset.asset_description }}
                                {% endif %}
                            </th>
                            <td class="remove_tbl text-center align-middle">
                                {% if delivery.item_type == "Supply" %}
                                    {{ item.req_supply.req_supply_qty }}
                                {% elif delivery.item_type == "Asset" %}
                                    {{ item.req_asset.req_asset_qty }}
                                {% endif %}
                            </td>
                            <td class="remove_tbl text-center align-middle">
                                {% if delivery.item_type == "Supply" %}
                                    {{ item.req_supply.req_unit_measure }}
                                {% endif %}
                            </td>
                            <td class="remove_tbl text-center align-middle">{{ item.delivery.order_receive_by }}</td>
                            <td class="text-center align-middle">
                                <span class="badge bg-success" style="padding: 10px; width: 90px; text-transform: uppercase">{{ item.del_status.name }}</span>
                            </td>
                            <td class="text-center align-middle"></td>
                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-warning text-uppercase" onclick="fetchDataAndUpdateModalDelivery('{{ item.del_item_id|stringformat:"s" }}', '{{ delivery.item_type|stringformat:"s" }}')">
                                    Action
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center align-middle">No items found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        </div>
    </div>
</main>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.0/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
    function fetchDataAndUpdateModalDelivery(pk, item_type) {
            $.ajax({
                url: `/transactions/get_delivery_data/${pk}/${item_type}`,
                method: 'GET',
                success: function (data) {
                    $('#delivery_status_select').val(data.delivery_status);
                    $('#request_description').text(data.item_name);
                    $('#delivery_id').data('type', data.item_type);
                    $('#delivery_id').val(data.item_delivery_id);
                    if (data.delivery_status === 'Delivered' || data.delivery_status === 'Undelivered') {
                        $('#delivery_status_select').prop('disabled', true);
                        $('#delivery_savechanges_bttn').prop('disabled', true);
                    } else {
                        $('#delivery_status_select').prop('disabled', false);
                    }


                    $('#deliveryModal').modal('show');

                },
                error: function () {
                    console.error('Error fetching data');
                }
            });
        }

    function updateData() {
            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            var delivery_id = $('#delivery_id').val()
            var delivery_status = $('#delivery_status_select').val();
            var item_type  = $('#delivery_id').data('type');
            $.ajax({
                url: `/transactions/post_delivery_data/${delivery_id}/`,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf_token
                },
                data: {
                    'item_type': item_type,
                    'delivery_status': delivery_status,
                },
                success: function (response) {
                    if (response.status === 'success') {
                        window.location.reload();
                    } else  {
                        window.location.reload();

                    }
                },
            });
        }

    function wareHousing(delivery_id, item_type) {
            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();

            console.log(item_type)

            $.ajax({
                url: `/transactions/warehousing/${delivery_id}/${item_type}/`,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf_token
                },
                data: {
                    'item_type': item_type,
                },
                success: function (response) {
                    if (response.status === 'success') {
                        window.location.reload();
                    } else {
                        window.location.reload();

                    }
                },
            });
        }
    </script>

{% endblock content %}
