{% extends 'user_admin/admin_base.html' %}
{% load static %}

{# Requisition Title #}
{% block title %} Purchase | AquaMelya {% endblock title %}

{% block transactions %}
    class="nav-link"
{% endblock %}
{% block transaction_delivery %} class="active" {% endblock %}
{# Content #}
{% block content %}
    <style>
        @media (width < 940px) {
             #req_view {
                display: flex !important;
                 flex-direction: column !important;
            }
            #req_view #cont {
                display: flex !important;
                flex-direction: column !important;
                 width: 100% !important;
            }
        }
    </style>
    <main id="main" class="main">
        <div class="pagetitle">
            <h3 style="font-weight: bold; margin-bottom: 0px !important; letter-spacing: 5px; color: var(--c2)">TRANSACTION</h3>
            <p style="margin-bottom: 20px !important; letter-spacing: 2px !important; font-size: 20px !important; color: var(--c1)">DELIVERY</p>

            <section class="row">
                <div style="">
                    <div class="card p-3">
                        <div class="card-body p-2">
                            <div class="filter-and-search d-flex align-items-right mb-3 gap-3" id="req_view">
                               <div class="" style="width: 100%">
                                <input type="text" name="query" class="form-control" id="delivery_search"
                                    placeholder="Search"
                                    title="Enter search keyword">
                                </div>

                                <div class="mb-2" style="width: 100%">
                                    <select class="form-select" id="status_filter">
                                    <option selected value="all">Status: All</option>
                                    <option value="1">Processing</option>
                                    <option value="2">Received</option>
                                    </select>
                                </div>
                            </div>
                        {% include 'delivery/user_admin/include_delivery_table.html' %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.0/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>


        function filterTable() {
            $.ajax({
                url: '/transactions/requests/',
                data: {status: selectedStatus},
                dataType: 'json',
                success: function (data) {
                    // Replace the existing table body with the new HTML received from the server
                    $('#requisition_table tbody').html(data.html);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching filtered data:', error);
                }
            });
        }

        $(document).ready(function () {

            $('#delivery-table tbody').on('click', 'tr', function () {
                var pk = $(this).data('pk');
                window.location.href = `/transactions/delivery_items/${pk}/`;
            });

            // Handle dropdown change event
            $('#status_filter, #delivery_search').on('change input', function () {
                var selectedStatus = $('#status_filter').val();
                var delivery_search = $('#delivery_search').val();
                console.log(selectedStatus);
                console.log(delivery_search)
                // Show or hide rows based on selected status
                $('#delivery-table tbody tr').each(function () {
                    var rowStatus = $(this).data('status');
                    var rowName = $(this).data('pk').toString().toLowerCase();
                    if ((selectedStatus === 'all' || rowStatus.toString() === selectedStatus) &&
                        (rowName.includes(delivery_search) || delivery_search === '')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });

    </script>

{% endblock content %}
