<table class="table table-striped table-hover " id="delivery-table">
    <thead class="text-center">
    <tr>
        <th scope="col" class="text-center">Description</th>
        <th scope="col" class="text-center">Requestor</th>
        <th scope="col" class="text-center">Date Ordered</th>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center">Status</th>

    </tr>
    </thead>
    <tbody class="text-center">
    {% if delivery %}
        {% for delivery in delivery %}
            <tr data-pk="{{ delivery.delivery_id }}"
                data-status="{{ delivery.delivery_status }}">
                <th class="text-center align-middle">{{ delivery.purch.req.req_description}}</th>
                <td class="text-center align-middle">{{ delivery.purch.req.user }}</td>
                <td class="text-center align-middle">{{ delivery.purch.purch_date_modified}}</td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle">
                    {% if delivery.delivery_status == 1 %}
                        <span class="badge bg-secondary">In Process</span>
                    {% else %}
                        <span class="badge bg-success">Order Received</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center align-middle" colspan="10">No Delivery Found</td>
        </tr>
    {% endif %}
    </tbody>
</table>
