{% load widget_tweaks %}
<div class="modal-header">
    <h5 class="modal-title">Add Supplier</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="purchaseBtn" onclick="enableForm()"></button>
</div>
<div class="modal-body">
    <form class="row g-3" method="POST" novalidate>
        {% csrf_token %}

        <div class="col-md-6">
            <label for="inputName4" class="form-label">Supplier</label>
            {% render_field form.supplier_name class="form-control" placeholder="   "%}
            <div class="{% if form.supplier_name.errors %} invalid{% endif %}">
                {% for error in form.supplier_name.errors %}
                  <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <label for="inputName4" class="form-label">Contact Number</label>
            {% render_field form.supplier_primary_contact class="form-control" placeholder=""%}
            <div class="{% if form.supplier_primary_contact.errors %} invalid{% endif %}">
                {% for error in form.supplier_primary_contact.errors %}
               <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-6">
            <label for="inputName4" class="form-label">Email</label>
            {% render_field form.supplier_email class="form-control" placeholder=" "%}
            <div class="{% if form.supplier_email.errors %} invalid{% endif %}">
                {% for error in form.supplier_email.errors %}
               <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-6">
            <label for="inputName4" class="form-label">Address</label>
            {% render_field form.supplier_address class="form-control" placeholder=" "%}
            <div class="{% if form.supplier_address.errors %} invalid{% endif %}">
                {% for error in form.supplier_address.errors %}
               <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-6">
            <label for="inputName4" class="form-label">Backup Phone</label>
            {% render_field form.supplier_backup_contact class="form-control" placeholder="Backup Contact"%}
            <div class="{% if form.supplier_backup_contact.errors %} invalid{% endif %}">
                {% for error in form.supplier_backup_contact.errors %}
                 <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-6">
            <label for="inputName4" class="form-label">Backup Email</label>
            {% render_field form.supplier_backup_email class="form-control" placeholder="Backup Email"%}
            <div class="{% if form.supplier_backup_email.errors %} invalid{% endif %}">
                {% for error in form.supplier_backup_email.errors %}
               <p class="help-block text-danger " style="font-size:13px;">
                {% endfor %}
            </div>
        </div>



        <button type="submit" class="btn btn-primary">Add Supplier</button>
    </form>
</div>