{% load widget_tweaks %}
<div class="modal-header">
    <h3 class="modal-title" style="font-weight: bold; font-size: 20px; letter-spacing: 1px">ADD SUPPLIER</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="purchaseBtn" onclick="enableForm()"></button>
</div>
<div class="modal-body">
    <form class="row g-3" method="POST" novalidate>
        {% csrf_token %}

        <div class="col-md-12">
            <label for="inputName4" class="form-label text-uppercase" style="font-size: 12px !important; letter-spacing: 2px">SUPPLIER</label>
            {% render_field form.supplier_name class="form-control" placeholder="   "%}
            <div class="{% if form.supplier_name.errors %} invalid{% endif %}">
                {% for error in form.supplier_name.errors %}
                  <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label text-uppercase" style="font-size: 12px !important; letter-spacing: 2px">Contact Number</label>
            {% render_field form.supplier_primary_contact class="form-control" placeholder=""%}
            <div class="{% if form.supplier_primary_contact.errors %} invalid{% endif %}">
                {% for error in form.supplier_primary_contact.errors %}
               <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-12">
            <label for="inputName4" class="form-label text-uppercase" style="font-size: 12px !important; letter-spacing: 2px">Email</label>
            {% render_field form.supplier_email class="form-control" placeholder=" "%}
            <div class="{% if form.supplier_email.errors %} invalid{% endif %}">
                {% for error in form.supplier_email.errors %}
               <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-12">
            <label for="inputName4" class="form-label text-uppercase" style="font-size: 12px !important; letter-spacing: 2px">Address</label>
            {% render_field form.supplier_address class="form-control" placeholder=" "%}
            <div class="{% if form.supplier_address.errors %} invalid{% endif %}">
                {% for error in form.supplier_address.errors %}
               <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-12">
            <label for="inputName4" class="form-label text-uppercase" style="font-size: 12px !important; letter-spacing: 2px">Backup Phone</label>
            {% render_field form.supplier_backup_contact class="form-control" placeholder="Backup Contact"%}
            <div class="{% if form.supplier_backup_contact.errors %} invalid{% endif %}">
                {% for error in form.supplier_backup_contact.errors %}
                 <p class="text-danger" style="font-size: 12px; margin-bottom: 0 !important">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-12">
            <label for="inputName4" class="form-label text-uppercase" style="font-size: 12px !important; letter-spacing: 2px">Backup Email</label>
            {% render_field form.supplier_backup_email class="form-control" placeholder="Backup Email"%}
            <div class="{% if form.supplier_backup_email.errors %} invalid{% endif %}">
                {% for error in form.supplier_backup_email.errors %}
               <p class="help-block text-danger " style="font-size:13px;">
                {% endfor %}
            </div>
        </div>

        <hr style="margin-bottom: 5px">
        <button type="submit" class="btn btn-primary" style="font-weight: bold; padding: 10px; letter-spacing: 1px">REGISTER</button>
    </form>
</div>