{% load widget_tweaks %}

<div class="modal-header">
    <h3 class="modal-title" style="font-weight: bold; font-size: 20px; letter-spacing: 1px">SUPPLIER DETAILS</h3>
    <button type="button" class="btn btn-primary ml-auto" style="color: white; border: none; background-color: #0d6efc; " id="purchaseBtn" onclick="enableForm()"> <i class="bi bi-pencil-square"></i></button>
</div>

<div class="modal-body">
    <form id="myForm"  class="add_staff_modal row g-3" method="POST" novalidate>
        {% csrf_token %}

        <div class="row d-flex flex-column p-2 pb-0" style="border: none; width: 100%; padding: 0">
            <div class="col-md-12">
                <label class="form-label" style="color: var(--c1);">Date Added: </label>
                <label class="form-label" style="">{{ supplier.supplier_date_added }}</label>
            </div>
            <div class="col-md-12">
                <label class="form-label" style=" color: var(--c1);">Date Modified: </label>
                <label class="form-label" style="">{{ supplier.supplier_date_modified }}</label>
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label" style="text-transform: uppercase">SUPPLIER</label>
            {% render_field form.supplier_name class="form-control" placeholder="Supplier Name"% disabled="disabled" %}
            <div class="{% if form.supplier_name.errors %} invalid{% endif %}">
                {% for error in form.supplier_name.errors %}
                <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label" style="text-transform: uppercase">Contact Number</label>
            {% render_field form.supplier_primary_contact class="form-control" placeholder="Primary Contact" disabled="disabled" %}
            <div class="{% if form.supplier_primary_contact.errors %} invalid{% endif %}">
                {% for error in form.supplier_primary_contact.errors %}
                <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label" style="text-transform: uppercase">Email</label>
            {% render_field form.supplier_email class="form-control" placeholder="Email Address" disabled="disabled"  %}
            <div class="{% if form.supplier_email.errors %} invalid{% endif %}">
                {% for error in form.supplier_email.errors %}
                <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

         <div class="col-md-12">
            <label for="inputName4" class="form-label" style="text-transform: uppercase">Status</label>
            {% render_field form.supplier_status disabled="disabled" class="form-control" %}
            <div class="{% if form.supplier_status.errors %} invalid{% endif %}">
                {% for error in form.supplier_status.errors %}
                     <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label" style="text-transform: uppercase">Backup Email</label>
            {% render_field form.supplier_backup_email  class="form-control" disabled="disabled" placeholder="Backup Email"%}
            <div class="{% if form.supplier_backup_email.errors %} invalid{% endif %}">
                {% for error in form.supplier_backup_email.errors %}
                   <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label" style="text-transform: uppercase">Backup Phone</label>
            {% render_field form.supplier_backup_contact class="form-control" placeholder="Backup Contact" disabled="disabled" %}
            <div class="{% if form.supplier_backup_contact.errors %} invalid{% endif %}">
                {% for error in form.supplier_backup_contact.errors %}
                <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <label for="inputName4" class="form-label" style="text-transform: uppercase">Address</label>
            {% render_field form.supplier_address class="form-control" placeholder="Address" disabled="disabled" %}
            <div class="{% if form.supplier_address.errors %} invalid{% endif %}">
                {% for error in form.supplier_address.errors %}
               <p class="text-danger" style="letter-spaceing: 1px;font-size:12px; margin-bottom: 0 !important;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div>
        </div>
        <hr style=" margin-bottom: 15px; margin-top: 15px">
        <div class="modal-footer justify-content-end border-0 px-2 pb-3" style="margin: 0; padding: 0">
            <button type="submit" class="btn btn-success d-none mx-0" id="saveBtn" style="border: none; letter-spacing: 1px; font-weight: bold; padding: 10px; width: 100%">SAVE CHANGES</button>
            <button type="button" class="btn btn-danger me-auto mx-0"  data-bs-dismiss="modal" style="letter-spacing: 1px; font-weight: bold; padding: 10px; width: 100%">CLOSE</button>

        </div>
    </form>
</div>

<script>
       function enableForm() {
            // Get all elements with the class "form-control" inside the form with the id "myForm"
            var formControls = document.querySelectorAll('#myForm .form-control');

            // Loop through each element and remove the "disabled" attribute
            formControls.forEach(function (element) {
                element.removeAttribute('disabled');
            });

            // Make the "Save Changes" button visible
            var saveChangesButton = document.querySelector('#saveBtn');

            saveChangesButton.classList.remove('d-none');
        }

</script>
