<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.jqueryui.min.css">

<style>
    .dataTables_length {
        display: none !important;
    }

    .dataTables_filter {
        display: none !important;
    }

    #purchase-table_paginate {
        margin-top: 20px !important;
        margin-bottom: 10px !important;
        padding-top: 10px !important;
        border-top: 1px solid var(--c1) !important;
    }

    .table  {
        border-bottom: none !important;
    }

    @media (width < 940px) {
      table .remove_tbl {
        display: none !important;
  }
}

    table tbody tr:hover {
        background-color: var(--c3);
        /*transition: .3s ease-in-out;*/
    }
</style>

<table class="table table-hover" id="purchase-table">
    <thead class="text-center">
    <tr>
        <th scope="col" class="text-center text-uppercase">Description</th>
        <th scope="col" class="remove_tbl text-center text-uppercase">Requestor</th>
        <th scope="col" class="remove_tbl text-center text-uppercase">Date</th>
        <th scope="col" class="text-center text-uppercase">Status</th>
    </tr>
    </thead>
    <tbody class="text-center">
    {% if purchases %}
        {% for purch in purchases %}
            <tr data-pk="{{ purch.purchase_id }}">
                <th class=" text-center">{{ purch.purchase_description }}</th>
                <td class="remove_tbl text-center">{{ purch.requestor }}</td>
                <td class="remove_tbl text-center">{{ purch.purchase_date }}</td>
                <td class="text-center">
                    <span class="badge bg-success" style="padding: 10px; width: 90px; text-transform: uppercase">{{ purch.purchase_status }}</span>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4" class="text-center">No Purchases Found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<script>
    new DataTable('#purchase-table', {
        info: false,
        ordering: false,
        lengthMenu: [[5], [5]],
    });
</script>

