{% extends 'user_admin/admin_base.html' %}
{% block title %} Purchase Order | Transaction{% endblock %}
{% block transactions %} class="nav-link" {% endblock %}
{% block transaction_purchase %}  class="active" {% endblock %}
{% block content %}

    <style>
        @media (width < 940px) {
             #req_view {
                display: flex !important;
                 flex-direction: column !important;
            }
            #req_view #cont {
                display: flex !important;
                flex-direction: column !important;
                 width: 100% !important;
            }
        }
    </style>

    {% include 'request/user_admin/request_info.html' %}
    <main id="main" class="main">

        <div class="page-title">
            <h3 style="font-weight: bold; margin-bottom: 0px !important; ">TRANSACTION</h3>
            <p style="margin-bottom: 20px !important; letter-spacing: 2px !important; font-size: 20px !important; color: var(--c1)">PURCHASE ORDER</p>
            <div class="filter-and-search d-flex align-items-right justify-content-between mb-3">
            </div>
            <section class=" ">
                <div style="display: block;">
                    <div class="card p-3" style="padding-bottom: 27px;">
                        <div class="card-body pb-2">
                            <!-- Filter and Search at the top right -->
                            <div id="req_view" class="filter-and-search d-flex align-items-start gap-3 justify-content-between mb-3 pt-3">
                                <div class="" style="width: 100%">
                                    <input type="text" id="search_input" name="query" class="form-control"
                                           placeholder="Search by Name or ID"
                                    >
                                </div>

                                <div class=" mb-2" style="width: 100% ">
                                    <select class="form-select" id="request_status_filter">
                                        <option selected value="all">Status: All</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Pending">In process</option>
                                        <option value="Cancelled">Done</option>
                                    </select>
                                </div>
                            </div>

                            {#Table Supplier #}
                            {% include "purchase/user_admin/purchase_table.html" %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // add a script that when I click the button tr will redirect to the page
        // Assuming you're using jQuery
        $(document).ready(function () {
            // Add a click event listener to table rows
            $('tbody').on('click', 'tr', function () {
                // Retrieve the data-pk attribute value of the clicked row
                const pk = $(this).data('pk');

                // Redirect to a new page using the pk value (replace 'URL' with your actual URL)
                window.location.href = `/transactions/purchase-order-view/${pk}`;
            });
        });
    </script>
    <!-- End #main -->
{% endblock %}