{% extends 'user_admin/admin_base.html' %}
{% load static %}

{# Requisition Title #}
{% block title %} Purchase Order | Transaction{{ purchase.purch_id }}{% endblock title %}

{# Requisition Active #}
{% block delivery %}
    <a class="nav-link" href=""/>
{% endblock delivery %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    {% include 'acknowledgement/staff_delivery_modal.html' %}
    <main id="main" class="main">
        <div class="pagetitle">
            <div class="d-flex align-items-start">
                <button type="button" class="btn btn-primary" style=" font-weight: bolder; padding: 0; letter-spacing: 1px; background-color: transparent; border: none; color: red"
                        onclick="goBackrequest()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" style="color: var(--c2); border: none" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                    </svg>
                </button>

                <div class="ml-2" style="margin-left: 20px !important">
                    <h1 class=""  style="margin-bottom: 5px !important">
                        PURCHASE ORDER</h1>
                    <h2 class="card-title" style="font-weight: lighter; padding: 0; margin-top: 0px; letter-spacing: 3px; margin-bottom: 30px">TRANSACTION</h2>
                </div>
            </div>
        </div>
        <section>
            <div class="col-lg-12" id="delivery" data-pk="{{ purchase.purchase_id }}">
                {% csrf_token %}
                <div class="card" id="right_section">
                    <div class="card-body" id="right_body">
                        <div class="row mt-4 p-0">
                            <div class="col-md-3 mb-2">
                                <label class="form-label" style="font-weight: 600">Requestor's Name</label>
                                <input type="text" class="form-control" value="{{ purchase.requestor }}" readonly>
                            </div>
                            <div class="col-md-3 mb-2">
                                <label class="form-label" style="font-weight: 600">Request Type</label>
                                <input type="text" class="form-control" value="{{ purchase.request_type }}" readonly>
                            </div>
                            <div class="col-md-2 mb-2">
                                <label class="form-label" style="font-weight: 600">Date Purchased</label>
                                <input type="text" class="form-control" value="{{ purchase.purchase_date }}" readonly>
                            </div>
                            <div class="col-md-2 mb-2">
                                <label class="form-label" style="font-weight: 600">Supplier </label>
                                <input type="text" class="form-control" value="{{ purchase.supplier }}" readonly>
                            </div>
                            {% if purchase.item_status|lower == 'true' and purchase.purchase_status|lower == 'pending' %}
                                <div class="col-md-2">
                                    <label class="form-label" style="font-weight: 600">Select Receiver</label>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle form-control" type="button"
                                                id="receiverDropdown"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            Select Receiver
                                        </button>
                                        <ul class="dropdown-menu form-control" aria-labelledby="receiverDropdown">
                                            <!-- Jinja loop to display suppliers with their IDs -->
                                            {% if user_data %}
                                                {% for user in user_data %}
                                                    <li><a class="dropdown-item" href="#"
                                                           data-pk="{{ user.user_id }}">{{ user }}</a>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <li><a class="dropdown-item text-center" href="#">No users available</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>

                            {% else %}
                                <div class="col-md-2">
                                    <label class="form-label" style="font-weight: 600">Order Receiver</label>
                                    <input type="text" class="form-control"
                                           value="{% if delivery %}{{ delivery.0.order_receive_by }}{% endif %}"
                                           readonly>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mt-4 mb-4 mx-2">
                        <!-- Left column for Requested Items -->
                        <div class="col-md-6"><label class="form-label" style="font-weight: 600">Status : </label>
                            <span

                                    {% if purchase.purchase_status|lower == 'pending' %}
                                        <span class="badge bg-primary"
                                              style="padding: 10px; text-transform: uppercase; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ purchase.purchase_status }}</span>
                                    {% elif purchase.purchase_status|lower == 'cancelled' %}
                                        <span class="badge bg-danger text-uppercase"
                                              style=" padding: 10px; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ purchase.purchase_status }}</span>
                                    {% elif purchase.purchase_status|lower == 'completed' %}
                                        <span class="badge bg-success-light text-uppercase"
                                              style="color: black; padding: 10px; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ purchase.purchase_status }}</span>
                                    {% elif purchase.purchase_status|lower == 'incomplete' %}
                                        <span class="badge bg-warning-light"
                                              style="padding: 10px; text-transform: uppercase; color: black !important; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ purchase.purchase_status }}</span>
                                    {% elif purchase.purchase_status|lower == 'done' %}
                                        <span class="badge bg-success"
                                              style="padding: 10px; text-transform: uppercase; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ item.req_status__name }}</span>
                                    {% elif purchase.purchase_status|lower == 'approved' %}
                                        <span class="badge bg-success"
                                              style="padding: 10px; text-transform: uppercase; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ purchase.purchase_status }}</span>
                                    {% elif purchase.purchase_status|lower == 'declined' %}
                                        <span class="badge bg-danger-light"
                                              style="color:black; padding: 10px; text-transform: uppercase; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ purchase.purchase_status }}</span>
                                    {% elif purchase.purchase_status|lower == 'in process' %}
                                        <span class="badge bg-warning"
                                              style="color:black; padding: 10px; text-transform: uppercase; width: 100px; letter-spacing: 1px; font-weight: lighter; font-size: 12px">{{ purchase.purchase_status }}</span>
                                    {% endif %}

                            <div class="table-responsive">
                                <!-- Table content remains unchanged -->
                            </div>
                        </div>
                        <!-- Right column for Select Supplier -->
                        <div class="col-md-6 text-md-end">

                        </div>
                    </div>

                    <div class="table-responsive p-4">
                        <table class="table table-bordered" style="border: transparent">
                            <thead>
                            <tr>
                                <th scope="col" class="text-uppercase text-center">Request Item</th>
                                <th scope="col" class="text-uppercase text-center">Quantity</th>
                                {% if requisition.req_type == 'Supply' %}
                                    <th scope="col">Unit</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>

                            <!-- Loop through request items and quantities -->
                            {% if req_items %}
                                {% for item in req_items %}
                                    <tr data-pk="{{ item.reqs_id }}">
                                        <th class="text-center " style="color: var(--c1); font-weight: normal">{{ item.description }}</th>
                                        <td class="text-center ">{{ item.quantity }}</td>
                                        {% if requisition.req_type == 'Supply' %}
                                            <td>{{ item.unit }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="empty_tbl text-uppercase text-center" colspan="2">No items requested</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    <div class="row mt-4">
                        <div class="">
                            {% if purchase.item_status|lower == 'true' and purchase.purchase_status|lower == 'pending' %}
                                <button type="button" id="createPurchase" class="btn btn-success" style="width: 100%; font-weight: bold; letter-spacing: 1px; padding: 10px">APPROVE</button>
                            {% endif %}
                        </div>
                    </div>
                    </div>

                </div>
            </div>
            </div>
        </section>


    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.0/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
        function goBackrequest() {
            window.location.href = `/transactions/purchase`;
        }

        $(document).ready(function () {
            const csrftoken = document.cookie.match(/csrftoken=([\w-]+)/)[1];
            let selectedReceiverID; // Variable to store the selected supplier ID

            // Add a click event listener to the dropdown items
            $('.dropdown-item').on('click', function (event) {
                event.preventDefault(); // Prevent default action

                const selectedReceiver = $(this).text();
                $('#receiverDropdown').text(selectedReceiver);
                selectedReceiverID = $(this).data('pk');
            });
            $('#createPurchase').on('click', function () {
                const purchaseID = $('#delivery').data('pk');
                // add alert to confirm
                if (!confirm('Are you sure you want to approve this purchase order?')) {
                    return false;
                }

                // Send a POST request to create a purchase requisition
                $.ajax({
                    type: 'POST',
                    url: `/transactions/purchase-order-approved/${purchaseID}`,
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    data: {
                        'receiver_id': selectedReceiverID,
                    },
                    success: function (response) {
                        if (response.success) {
                            console.log('Purchase Order created successfully');
                            window.location.href = '/transactions/purchase/';
                        } else {
                            console.log('Error creating Purchase Order')
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        console.log('Error:', xhr.status + ": " + xhr.responseText);
                        // Handle errors
                    }
                });
            });
        });

    </script>

{% endblock content %}