{% extends 'user_admin/admin_base.html' %}
{% block title %}Aquamelya | Purchase{% endblock %}
{% block transactions %} class="nav-link" {% endblock %}
{% block transaction_requests %}  class="active" {% endblock %}
{% block content %}

    {% include 'request/user_admin/request_info.html' %}
    <main id="main" class="main">

        <div class="page-title">
            <h3 style="font-weight: bold"> Transactions</h3>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Transactions</a></li>
                    <li class="breadcrumb-item active">Purchase Order</li>
                </ol>
            </nav>
            <div class="filter-and-search d-flex align-items-right justify-content-between mb-3">
            </div>
            <section class=" ">
                <div style="display: block;">
                    <div class="card" style="padding-bottom: 27px;">
                        <div class="card-body">
                            <h2 class="card-title" style="float: left;"><i class="bi bi-envelope-paper"></i> &nbsp;
                                Purchase Order</h2>
                            <!-- Filter and Search at the top right -->
                            <div class="filter-and-search d-flex align-items-right justify-content-between mb-3 pt-3">
                                <div class="col-md-3" style="margin-left: auto;padding-right: 5px;">
                                    <input type="text" id="search_input" name="query" class="form-control"
                                           placeholder="Enter ID or Name to search"
                                    >
                                </div>
                                <div class="col-md-2 mb-2" style="margin-right: 5px; ">
                                    <select class="form-select" id="request_status_filter">
                                        <option selected value="all">By Status: All</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Pending">In process</option>
                                        <option value="Cancelled">Done</option>
                                    </select>
                                </div>
                            </div>

                            {#Table Supplier #}
                            {% include "purchase/user_admin/purchase_table.html" %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // add a script that when I click the button tr will redirect to the page
        // Assuming you're using jQuery
        $(document).ready(function () {
            // Add a click event listener to table rows
            $('tbody').on('click', 'tr', function () {
                // Retrieve the data-pk attribute value of the clicked row
                const pk = $(this).data('pk');

                // Redirect to a new page using the pk value (replace 'URL' with your actual URL)
                window.location.href = `/transactions/purchase-order-view/${pk}`;
            });
        });
    </script>
    <!-- End #main -->
{% endblock %}