{% load static %}

<!-- Change Password Form -->
<form action="" method="post" id="change-password-form">
    {% csrf_token %}
    <div class="row mb-3">
        {# DISPLAY CURRENT PASSWORD#}
        <label
                for="currentPassword"
                class="col-md-4 col-lg-3 col-form-label"
        >Current Password</label
        >
        <div class="col-md-8 col-lg-9">
            {{ staff_change_password.staff_current_password }}
        </div>
    </div>

    {# CREATE NEW PASSWORD #}
    <div class="row mb-3">
        <label
                for="newPassword"
                class="col-md-4 col-lg-3 col-form-label"
        >New Password</label
        >
        <div class="col-md-8 col-lg-9">
            {{ staff_change_password.staff_new_password }}
        </div>
    </div>

    {# CONFIRM PASSWORD#}
    <div class="row mb-3">
        <label
                for="renewPassword"
                class="col-md-4 col-lg-3 col-form-label"
        >Confirm New Password</label
        >
        <div class="col-md-8 col-lg-9">
            {{ staff_change_password.staff_confirm_password }}
        </div>
    </div>

    {# Change Password Button #}
    <div class="text-center" id="change_password">
        <button type="submit" class="btn btn-primary" onclick="changePassword()">
            CHANGE PASSWORD
        </button>
    </div>
</form>
<!-- End Change Password Form -->
<!-- Include JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('#change-password-form').on('submit', function (event) {
        event.preventDefault();

        const old_password = $('#old_password').val();
        const new_password = $('#new_password').val();
        const confirm_password = $('#confirm_password').val();


        if (new_password !== confirm_password) {
            alert('New password and confirm password do not match.');
            return;
        }

        if (old_password === new_password) {
            alert('New password and old password are the same.');
            return;
        }
        // Password validation criteria
        const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

        if (!passwordRegex.test(new_password)) {
            alert('New password must be minimum 8 characters and contain at least one letter and one number.');
            return;
        }

        const formData = new FormData(this);
        formData.set('new_password', new_password);
        formData.set('confirm_password', confirm_password);
        formData.set('old_password', old_password);

        $.ajax({
            type: 'POST',
            url: '/check_old_password/',
            data: formData,
            processData: false,
            contentType: false,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (response.success) {
                    $.ajax({
                        type: 'POST',
                        url: '/change_password/',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.success) {
                                console.log('Password changed successfully');
                                window.location.reload();
                            } else {
                                console.log('Password change failed');
                                // Handle errors
                            }
                        },
                        error: function (xhr, errmsg, err) {
                            console.log('Error:', xhr.status + ": " + xhr.responseText);
                            // Handle errors
                        }
                    });
                } else {
                    console.log('Old password is incorrect');
                    alert('Old password is incorrect');
                }
            },
            error: function (xhr, errmsg, err) {
                // Handle error response
            }
        });
    });
    
</script>