{% load static %}
<!-- Profile Edit Form -->
<form>
   {# EDIT PROFILE PICTURE #}
   <div class="">
           <!-- Profile  -->
           <div class="d-flex justify-content-start align-items-center flex-column mb-0">
                 <div class="" style="margin-bottom: 30px">
                  <div
                     class="profile"
                     id="profile"
                     style="background: url({{ profile_picture }}) no-repeat center center !important;   background: url({{ user_profile_pic }}) no-repeat center center; background-size: cover !important; width: 120px; height: 120px; border-radius: 50% !important;margin-bottom: 10px"
                     >
                     <!-- File Input -->
                     <input title="Upload File" type="file" id="file" class="d-none" accept=".png, .jpeg, .jpg" onchange="validateFile(this)" />


                     <!-- End File Input -->
                  </div>

                <!-- Camera Icon -->
                 <label
                    for="file"
                    id="upload_btn"
                    class="cursor-pointer d-flex justify-content-start align-items-center flex-column" style=""
                    onclick="edit()"
                    >
                    <svg width="46" height="46" fill="#3850a6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 12.6a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"></path>
                      <path d="M4.8 7.2a2.4 2.4 0 0 0-2.4 2.4v7.2a2.4 2.4 0 0 0 2.4 2.4h14.4a2.4 2.4 0 0 0 2.4-2.4V9.6a2.4 2.4 0 0 0-2.4-2.4h-1.406a2.4 2.4 0 0 1-1.697-.703l-.993-.994a2.4 2.4 0 0 0-1.697-.703h-2.813a2.4 2.4 0 0 0-1.697.703l-.993.994a2.4 2.4 0 0 1-1.697.703H4.8Zm.6 2.4a.6.6 0 1 1 0-1.2.6.6 0 0 1 0 1.2Zm10.8 3a4.2 4.2 0 1 1-8.4 0 4.2 4.2 0 0 1 8.4 0Z"></path>
                    </svg>
                     <p class="" style="margin: auto 0">EDIT PROFILE</p>
                 </label>
             <!-- End Camera Icon -->
               </div>
           </div>
          <!-- End Profile  -->
   </div>
   <!-- End Profile Container -->
   {# EDIT FIRSTNAME #}
   <div class="row mb-3">
      <label
         for="fullName"
         class="col-md-4 col-lg-3 col-form-label"
         >Firstname</label
         >
      <div class="col-md-8 col-lg-9">
<form action="">
{% csrf_token %}
{{ staff_profile_edit.staff_fname }}
</form>
</div>
</div>
{# EDIT MIDDLE NAME #}
<div class="row mb-3">
   <label
      for="fullName"
      class="col-md-4 col-lg-3 col-form-label"
      >Middle Name</label
      >
   <div class="col-md-8 col-lg-9">
      <form action="">
         {% csrf_token %}
         {{ staff_profile_edit.staff_mname }}
      </form>
   </div>
</div>
{# EDIT LASTNAME #}
<div class="row mb-3">
   <label
      for="fullName"
      class="col-md-4 col-lg-3 col-form-label"
      >Lastname</label
      >
   <div class="col-md-8 col-lg-9">
      <form action="">
         {% csrf_token %}
         {{ staff_profile_edit.staff_lname }}
      </form>
   </div>
</div>
<div class="row mb-3">
   <label
      for="birthdate"
      class="col-md-4 col-lg-3 col-form-label"
      >Birthdate</label
      >
   <div class="col-md-8 col-lg-9">
      <form action="">
         {% csrf_token %}
         {{ staff_profile_edit.staff_birthdate }}
      </form>
   </div>
</div>
{# Save Changes Button #}
<div class="text-center" id="save_changes">
   <button type="submit" class="btn btn-primary">
   SAVE CHANGES
   </button>
</div>
</form>
<!-- End Profile Edit Form -->
<script>
    function validateFile(input) {
    const allowedExtensions = /(\.png|\.jpeg|\.jpg)$/i;
    const file = input.files[0];

    if (!allowedExtensions.exec(file.name)) {
        alert('Please choose a file with a PNG, JPEG, or JPG extension.');
        input.value = ''; // Clear the file input
    }
}

   // Display Profile Image
   const image = document.querySelector("#profile");
   const file = document.querySelector("#file");
   const upload_btn = document.querySelector("#upload_btn");

   file.addEventListener("change", function () {
       const chosed_file = this.files[0];

       if (chosed_file) {
           const reader = new FileReader();

           reader.addEventListener("load", function () {
               //image.setAttribute("src", reader.result);
               image.style.setProperty(
                   "background-image",
                   `url('${reader.result}')`,
                   "important"
               );
           });
           reader.readAsDataURL(chosed_file);
           console.log(reader);
       }
   });


   // Save changes button action with AJAX from endpoint
   const saveChangesButton = document.getElementById('save_changes');

   saveChangesButton.addEventListener('click', () => {
       console.log('Save changes button clicked');

       const formData = new FormData();
       formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
       formData.append('staff_fname', document.getElementById('id_staff_fname').value);
       formData.append('staff_mname', document.getElementById('id_staff_mname').value);
       formData.append('staff_lname', document.getElementById('id_staff_lname').value);
       formData.append('staff_birthdate', document.getElementById('id_staff_birthdate').value);

       const fileInput = document.getElementById('file');
       const file = fileInput.files[0]; // Get the selected file
       formData.append('profile_pic', file);



       fetch('{% url "staff_profile_edit" %}', {
           method: 'POST',
           body: formData,
       })
           .then(data => {
               if (data.success) {
                   if (data.changes_made) {
                       console.log('Changes were made. Profile successfully updated');
                       window.location.reload();
                   } else {
                       window.location.reload();
                       console.log('No changes were made');
                       // Handle or display a message indicating no changes were made
                   }
               } else {
                   window.location.reload();
                   console.log('Failed to save changes');
                   // Handle error or show appropriate message to the user
               }
           })
           .catch(error => {
               console.error(error);
               // Handle network errors or other issues
           });
   });
</script>