{% load widget_tweaks %}
<div class="card" id="left_section">
    <div class="card-body" style="padding: 30px !important" id="left_body">
        <div id="template">

            <div class="pagetitle" id="req_menu" style="">
                <h1 class="" style="margin-bottom: 5px; font-size: 35px">SUPPLY</h1>
                <p class=""style="margin-bottom: 0; font-size: 16px; letter-spacing: 2px; color: var(--c1)">REQUISITION</p>
            </div>

            <button type="button" class="btn btn remove_field_btn" id="remove_field_btn">X</button>
            <!-- Request Forms -->
            <form method="post" id="input_form" action="{% url 'staff_requisition_supply_url' %}" novalidate>
                {% csrf_token %}
                <div class="form_divider" style="width: 100%; margin-top: 0;"></div>
                <!-- SUPPLY REQUEST SECTION -->
                <div id="supply-form">
                    <!-- Supply List Dropdown -->
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-12 col-form-label form_label text-uppercase" style="letter-spacing: 2px">Supply List</label>
                        <div class="col-sm-12">
                            {{supply_form.supply|add_class:"form-control"|attr:"id:supply_name"}}
                        </div>
                        <div class="{% if supply_form.supply.errors %} invalid {% endif %}">
                            {% for error in supply_form.supply.errors %}
                                <p class="help-block text-danger" style="font-size: 13px;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Supply Quantity input -->
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-12 col-form-label form_label text-uppercase" style="letter-spacing: 2px">Quantity</label>
                        <div class="col-sm-12">
                            {% render_field supply_form.req_supply_qty class="form-control" id="supply_quantity"%}
                        </div>
                        <div class="{% if supply_form.req_supply_qty.errors %} invalid {% endif %}">
                            {% for error in supply_form.req_supply_qty.errors %}
                                <p class="help-block text-danger" style="font-size: 13px;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <br>

                    <!-- Supply Notes input -->
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-12 col-form-label form_label text-uppercase" style="letter-spacing: 2px">Additional Notes</label>
                        <hr>
                        <div class="col-sm-12">
                            {% render_field req_form.requestor_notes class="form-control" rows="5" id="requestor_notes"%}
                        </div>
                        <div class="{% if supply_form.notes.errors %} invalid {% endif %}">
                            {% for error in supply_form.notes.errors %}
                                <p class="help-block text-danger" style="font-size: 13px; ">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12 justify-content-end" id="req_btn">
                        <button type="button" class="btn btn bg-primary" style="background-color: #0d6efc !important; border: none !important; min-width: 100% !important;" id="submit_btn" onclick="mySave()">ADD REQUEST
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <!-- End General Form Elements -->
    </div>
</div>

