:root {
  scroll-behavior: smooth;
  height: 100%;
  --c1: #3850a6;
  --c2: #f15bb7;
  --c3: #f1eaf5;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 85px;
  padding: 20px 20px;
  transition: all 0.3s;
  margin-left: 90px;
}

/*@media (max-width: 1199px) {*/
/*  #main {*/
/*    padding: 20px;*/
/*  }*/
/*}*/

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle nav{
  margin-left: 10px;
}

.pagetitle h1 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #F15BB7;
  letter-spacing: 5px;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: none;
    transition: ease-out .5s;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
  color: #3850A6;
  transition: ease-in .5s;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #3850A6;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #3850A6;
  border-bottom: 2px solid #3850A6;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
  margin-left: 5px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .logo {
    width: 235px;
  }
}

.logo img {
  height: 50px;
  position: relative;
  left: 211px;
  transition: all .4s;
}

.logo p {
  font-weight: bolder;
  font-size: 18px;
  color: #3850A6;
  position: relative;
  bottom: -15px;
  letter-spacing: 2px;
  visibility: hidden;

}

#divide_logo {
  width: 100%;
}

.header {
  transition: all 0.5s;
  z-index: 1;
  height: 70px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  padding-right: 10px;
  background-color: #F1EAF5;
  /* Toggle Sidebar Button */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #3850A6;
}


/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #3850A6;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #3850A6;
}

.header-nav .nav-profile img {
  max-height: 35px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset:5px 10px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
  background-color: #F15BB7 !important;
}

.header-nav .notifications {
  inset: 8px 0px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 600;
  color: #3850A6;
  letter-spacing: 1px;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
  color: #3850A6;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left:-230px;
  /*left: 0;*/
  bottom: 0;
  width: 300px;
  transition: all .3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  border-radius: 15px;
  background-color: #fff;
  z-index: 10000;
}
  .toggle-sidebar .sidebar {
    left: 0 !important;
  }

  .toggle-sidebar .sidebar .logo p {
    visibility: visible;
  }

   .toggle-sidebar .sidebar .logo {
     justify-content: left;
  }

    .toggle-sidebar .sidebar .logo img {
     left: -5px;
     transition: all .4s;
     margin-right: 3px;
  }

/*@media (max-width: 1199px) {*/
/*  .sidebar {*/
/*    left: -300px;*/
/*  }*/
/*}*/

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

/*@media (min-width: 1200px) {*/

/*  #main,*/
/*  #footer {*/
/*    margin-left: 300px;*/
/*  }*/
/*}*/

/*@media (max-width: 1199px) {*/
/*  .toggle-sidebar .sidebar {*/
/*    left: 0;*/
/*  }*/
/*}*/


@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 300px;
  }

  .toggle-sidebar .sidebar {
    left: 300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
  letter-spacing: 1.5px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #F15BB7;
  transition: 0.3s;
  /*background: #f6f9ff;*/
  padding: 10px 15px;
  border-radius: 4px;
  letter-spacing: 1.5px;
  background-color: #F1EAF5;
}

.sidebar-nav .nav-link span {
  visibility: hidden;
}

.sidebar-nav .nav-link i {
  font-size: 18px;
  margin-right: 10px;
  color: #F15BB7;
  position: relative;
  left: 215px;
  transition: all .4s;

}

.toggle-sidebar .sidebar .sidebar-nav .nav-link span {
  visibility: visible;
}

.toggle-sidebar .sidebar .sidebar-nav .nav-link i {
  left: 0;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #F15BB7;
  background: #f6f9ff;
  background-color: #F1EAF5;
}

.sidebar-nav .nav-link:hover i {
  color: #F15BB7;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s;
}

.dashboard .info-card:hover{
  background-color: #F1EAF5 !important;
}

.dashboard #report_display {
  height: 100%;
}

.dashboard #report_display:hover {
  background-color: #F1EAF5 !important;
}

.dashboard #recent_display {
  height:100%;
}

.dashboard #recent_display:hover {
  background-color: #F1EAF5 !important;
}

/*@media (max-width: 991px) {*/
/*  .dashboard #recent_display {*/
/*    margin-top: 10px;*/
/*  }*/
/*}*/

.dashboard .info-card h6 {
  font-size: 40px;
  color: #012970;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .requisition-card .card-icon {
  color: #F15BB7;
  background: #F1EAF5;
}

#requisition-text {
  color: #3850A6 !important;
}

.dashboard .delivery-card .card-icon {
  color: #F15BB7;
  background: #F1EAF5;
}

#delivery-text {
  color: #3850A6 !important;
}

.dashboard .purchase-card .card-icon {
  color: #F15BB7;
  background: #F1EAF5;
}

#purchase-text {
  color: #3850A6 !important;
}

/* News & Updates */
.dashboard .news .post-item+.post-item {
  margin-top: 15px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #4154f1;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

.dashboard .card {
  background-color: white;
  transition: background-color 0.3s;
}
.dashboard .card:hover{
  background-color: rgba(27, 48, 234, 0.059);
}

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  /*ERROR font-family: var(--bs-font-monospace);*/
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
#profile_container {
  height: 100% !important;
}

#profile_navigation {
  height: 100% !important;
}

#profile_container .card-body {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  border-radius: 5px;
}

.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 18px;
  font-weight: 700;
  color: #3850A6;
  margin: 30px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.profile .profile-card h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  letter-spacing: 1px;
  color: #F15BB7;
}


.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

#change_password button, #save_changes button, #submit_request button {
    background-color: #3850A6 !important ;
    border-radius: 3px !important;
    color: white !important;
    border: none !important;
    margin-top: 50px !important;
    letter-spacing: 1px !important;
    font-size:15px !important;
    transition: ease-in-out .5s !important;
    padding: 10px 20px;
    font-weight: bolder !important;
    margin-bottom: 0 !important;
}

#save_changes button {
    margin-top: 35px !important;
}

#submit_request button {
    margin-top: 20px !important;
}

#change_password button:hover, #save_changes button:hover, #submit_request button:hover  {
    background-color: #F15BB7 !important;
    transition: ease-in-out .5s !important;
}
/*--------------------------------------------------------------
# Requisition Page
--------------------------------------------------------------*/
#left {
  height: 100% !important;
  margin: 0 !important;
  /*display: flex !important;*/
  /*justify-content: center !important;*/
  margin-bottom: 50px !important;

}
#left_section {
  background-color: #ffffff;
  margin: 0 !important;
  width: 100% !important;
  /*padding: 10px !important;*/
}

#left_body {
  padding: 20px 40px !important;
  height: 100% !important;

}

#right {
  background-color: transparent !important;
  width: 100% !important;
  margin-top: 10px !important;
  padding:0px 50px;

}

#right_section {
  background-color: #ffffff;
  box-shadow: none !important;
  background-color: transparent !important;
  width: 100% !important;
}

#right_body {
  /*height: 100% !important;*/
  width: 100% !important;
  /*padding: 0px 60px !important;*/
  padding: 0 !important;
}


.datatable-search {
  width: 100%;
}

.datatable-top {
  display: flex !important;
  flex-direction: row-reverse  !important;
  flex-wrap: wrap;
  justify-content: space-between !important;
  padding: 10px 0 !important;
  align-items: center !important;
  width: 100% !important;
}

.datatable-input {
  width: 100% !important;
  border-radius: 5px !important;
  border: 2px solid #F1EAF5;
  margin-bottom: 10px !important;
}

.datatable-input:focus {
  border: 2px solid #F15CB7 !important;
  outline: none;
  border-radius: 5px !important;
}

.datatable-dropdown {
  width: 25% !important;
  display: flex !important;
  justify-content: right !important;
  display: none !important;
}


.datatable-selector label {
  padding: 0 !important;
  height: 100% !important;
}

.datatable-selector {
  height: 100% !important;
}

.datatable-selector:focus {
  border: 2px solid #3850A6 !important;
  outline: none;
  border-radius: 2px !important;
}


.datatable-container {
  text-align: center !important;
}
#request_summary {
  /*padding: 0 30px !important;*/
}

#request_summary thead th {
  padding-left: 0px !important;
  color: #3850A6;
  font-size: 16px !important;
  text-align: center !important;
}

#request_summary tbody td {
  padding-left: 0px !important;
  text-align: center !important;
}

#request_summary .description {
  max-width: 180px !important;
  text-align: justify !important;
  text-align: center !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
#request_summary tbody tr {
  transition: .3s ease-in-out;
  cursor: pointer !important;

}

#request_summary tbody tr:hover {
  background-color: white !important;
  transition: .3s ease-in-out;
}

.datatable-sorter {
  padding-left: 0;
}

@media (width < 1420px) {
  #left {
    width: 100% !important;
    margin: auto !important;
  }

  #right {
    width: 100% !important;
    padding: 0 !important;
  }

  #caption {
    display: none !important;
  }
}

@media (width < 940px) {
  #left {
    width: 100% !important;
  }

  #request_summary .unit,
  #request_summary .description,
  #request_summary .date{
    display: none !important;
  }

}

#req_btn {
  display: flex !important;
  justify-content: space-between;
}

#add_field_btn, .remove_field_btn, #submit_btn  {
    background-color: #0D6EFD !important ;
    border-radius: 3px !important;
    color: white !important;
    border: none !important;
    letter-spacing: 1px !important;
    font-size:15px !important;
    padding: 10px 20px;
    font-weight: bolder !important;
    margin-bottom: 0 !important;
    border: 1px solid #0D6EFD !important;
    transition: ease-in-out .5s !important;
}

#add_field_btn {
  width: 49% !important;
}

.remove_field_btn  {
    border: 1px solid #DC3545 !important;
    background-color: #DC3545 !important;
    padding: 5px 10px !important;
    height: 50%;
    display: none;
}

#submit_btn {
  background-color: #16b45e !important;
  border: 1px solid #16b45e !important;
  width: 49% !important;

}

.form_divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #F15BB7 ;
  margin: 15px auto 25px auto !important;
}

.form_label {
  font-size: 15px !important;
}

/*--------------------------------------------------------------
# Requisition Page
--------------------------------------------------------------*/
#delivery {
  padding: 0 !important;
  height: 100% !important;
}

#delivery #right_section {
  background-color: #ffffff !important;
  padding: 30px !important;
}

#delivery thead th {
  padding-left: 0px !important;
  color: #3850A6;
  font-size: 16px !important;
  text-align: center !important;
}

#delivery tbody td {
  padding-left: 0px !important;
  text-align: center !important;
}

#delivery tbody td #text {
  background-color: black !important;
}

#delivery .description {
  max-width: 180px !important;
  text-align: justify !important;
  text-align: center !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

#accept_btn {
  background-color: #16b45e !important;
  border: 1px solid #16b45e !important;
  color: #ffffff !important;
  font-weight: bolder !important;
  border-radius: 20px !important;
  padding: 5px 20px !important;
  transition: .3s ease-in-out !important;
  /*width: 80% !important;*/

}

#accept_btn:hover {
  background-color: #ffffff !important;
  color: #16b45e !important;
  transition: .3s ease-in-out !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #3850A9;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

/* TABLES */
table thead tr th {
    color: var(--c1) !important;
    letter-spacing: 1px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    background-color: var(--c3) !important ;
    border-top: 1px solid var(--c3) !important;
    border-bottom: 2px solid white !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tbody  {
    border-top: 1px solid var(--c3) !important;
}

table tbody tr {
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: lighter !important;
    /*transition:  ease-in-out;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 2px solid white !important;
}

table tbody tr:hover {
    background-color: var(--c3) !important;
}

table thead tr .name_col{
    border-left: 1px solid var(--c3) !important;
}

table thead tr .btn_col{
    border-right: 1px solid var(--c3) !important;
}

table tbody th {
    letter-spacing: 1px !important;
    font-weight: lighter !important;
    background-color: var(--c3) !important ;
    border-bottom: 2px solid white !important;
}


@media (width < 700px) {

  #staff_table .email_col,
  #staff_table .contact_col,
  #staff_table .email_row,
  #staff_table .contact_row{
    display: none !important;
  }
}

.dataTables_length {
    display: none !important;
}

.dataTables_filter {
    width: 100% !important;
    display: flex !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

.dataTables_filter label {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
}

.dataTables_filter label input{
    width: 100% !important;
    margin-left: 5px !important;
}

#delivery-table_paginate, #staff_requisition_table_paginate {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    padding-top: 10px !important;
    border-top: 1px solid var(--c1) !important;
}

.table  {
    border-bottom: none !important;
}

@media (width < 940px) {
  table .remove_tbl {
    display: none !important;
  }
}

#my_req:hover {
  background-color: white !important;
}

.staff_req_modal label {
    letter-spacing: 2px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
}

.staff_req_modal .form-control {
    font-size: 12px !important;
    letter-spacing: 1px !important;
}

.modal-title span {
    color: var(--c1) !important;
    font-weight: bolder !important;
    letter-spacing: 1px !important;
    width: 100% !important;
  font-size: 18px !important;
}

@media (max-width: 700px) {
    .modal-dialog {
        max-width: 500px;
        margin-left: 80px !important;
    }
}

@media (width < 700px) {

  #req_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#req_over:hover {
  background-color: white !important;
}

@media (max-width: 1200px) {
  #overview {
    display: flex;
    flex-direction: column;
  }
  #overview #over_cont {
    width: 100% !important;
  }
}

