{% load widget_tweaks %}

<div class="modal-header">
   <h5 class="modal-title mr-3">SUPPLY DETAILS</h5>
    <button type="button" class="btn btn-primary ml-auto" style="color: white; background-color: #0d6efc; border: none;" id="purchaseBtn" onclick="enableForm()">EDIT</button>
{#    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
</div>
<div class="modal-body">
   <form id="myForm"  class="update_supply row g-3" method="POST" novalidate>
      {% csrf_token %}

       <div class="col-md-12">
            <label for="inputName4" class="form-label">Description</label>
            {% render_field form.supply_description class="form-control" placeholder=" " disabled="disabled"%}
            <div class="{% if form.supply_description.errors %}invalid{% endif %}">
                {% for error in form.supply_description.errors %}
                  <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
      </div>

      <div class="col-md-6">
            <label for="inputName4" class="form-label">Type</label>
            {% render_field form.supply_type class="form-control" placeholder=" " disabled="disabled"%}
            <div class="{% if form.supply_type.errors %}invalid{% endif %}">
                {% for error in form.supply_type.errors %}
                  <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
      </div>

      <div class="col-md-6">
            <label for="inputName4" class="form-label">Re-order Level</label>
            {% render_field form.supply_reorder_lvl class="form-control" placeholder=" " disabled="disabled"%}
            <div class="{% if form.supply_reorder_lvl.errors %}invalid{% endif %}">
                {% for error in form.supply_reorder_lvl.errors %}
                <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
      </div>

      <div class="col-md-12">
            <label for="inputName4" class="form-label">Supplier</label>
            {% render_field form.supplier_id class="form-control" placeholder="" disabled="disabled"%}
            <div class="{% if form.supplier_id.errors %}invalid{% endif %}">
                {% for error in form.supplier_id.errors %}
                <p class="help-block text-danger " style="font-size:13px;">{{ error }}</p>
                {% endfor %}
            </div>
      </div>

      <div class="col-md-12">
            <label for="inputName4" class="form-label">Notes</label>
            {% render_field form.notes class="form-control" placeholder="" disabled="disabled"%}
            <div class="{% if form.notes.errors %}invalid{% endif %}">
                {% for error in form.notes.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
      </div>

    <div> <hr>   </div>
   <div class="row  justify-content-center">
            <div class="col-md-4 text-center">
                <label class="form-label" style="color: var(--c1); font-weight: bolder">Date Added</label>
                <label class="form-label" style="display: block; margin-bottom: 8px; color:#d1d1d1;">{{ supply.supply_date_added }}</label>
            </div>
            <div class="col-md-4 text-center">
                <label class="form-label" style="color: var(--c1); font-weight: bolder">Purchase Date</label>
                <label class="form-label" style="display: block; margin-bottom: 8px; color:#d1d1d1;">{{ supply.supply_last_purchase_date }}</label>
            </div>
            <div class="col-md-4 text-center">
                <label class="form-label" style="color: var(--c1); font-weight: bolder">Date Modified</label>
                <label class="form-label" style="display: block; margin-bottom: 8px; color:#d1d1d1;">{{ supply.supply_date_modified }}</label>
            </div>
        </div>

      <div class="modal-footer justify-content-end">
            <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal" style="background-color: red; border: none">CLOSE</button>
            <button type="submit" class="btn btn-primary invisible" id="saveBtn" style="background-color: #00d320; border: none">SAVE CHANGES</button>
        </div>
    </form>
</div>

<script>
       function enableForm() {
            // Get all elements with the class "form-control" inside the form with the id "myForm"
            var formControls = document.querySelectorAll('#myForm .form-control');

            // Loop through each element and remove the "disabled" attribute
            formControls.forEach(function (element) {
                element.removeAttribute('disabled');
            });

            // Make the "Save Changes" button visible
            var saveChangesButton = document.querySelector('#saveBtn');

            saveChangesButton.classList.remove('invisible');
        }

</script>